.size-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.size-setter {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  color: white;
  font-size: large;
  font-weight: bold;
}

.size-setter input {
  width: 80px;
  height: 35px;
  text-align: center;
  font-size:x-large;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
}

.size-setter label {
  font-size: x-large;
}

.size-setter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.error {
  color: #fbb3c9;
  font-size: large;
  font-weight: bold;
}

.button {
  transition: all 1.4s ease-in-out ;
  background-image: linear-gradient(135deg, #538af6 0%, #716ef2 50%, #d56096 100%);
  color: white;
  border: none;
  padding: 0.2rem 1rem;
  font-size: large;
  font-weight: bold;
  border-radius: 32px;
  height: 40px;
  min-width: 85px;
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(135deg, #6696f7 0%, #716ef2 50%, #538af6 100%);
}