.size-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.size-setter {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
  font-size: large;
  font-weight: bold;
}

.size-setter input {
  height: 40px;
  width: 70px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  padding: 0.2rem 1rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin-left: 0.5rem;
}

.size-setter button {
  margin-left: 2.5rem;
}

.size-setter label {
  font-size: 18px;
}

.size-setter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.error {
  color: #fbb3c9;
  font-size: large;
  font-weight: bold;
}

.button {
  background-color: white;
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 700;
  padding: 12px 30px;
  border: none;
  border-radius: 0.5rem;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .size-container {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }


  .size-setter div {
    width: 100%;
  }
}