
.controller-container {
background-color: white;
color: #586171 ;
}
.controller {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  max-width: 1300px;
  width: 70vw;
}

.controller button[disabled] {
  background-color: #d1d5db;
  cursor: not-allowed;

}

.controller p {
  text-align: center;
  font-size: large;
  font-weight: bold;
}



.title {
  text-align: center;
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  margin-right: 1.5rem;
}

.button {

  transition: all 1.4s ease-in-out ;
  background-image: linear-gradient(135deg, #538af6 0%, #716ef2 50%, #d56096 100%);
  color: white;
  border: none;
  padding: 0.2rem 1rem;
  font-weight: bold;
  border-radius: 32px;
  font-size: 15px;
  height: 40px;
  min-width: 85px;
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(135deg, #6696f7 0%, #716ef2 50%, #538af6 100%);
}

.buttons {
  display: flex;
  gap: 1rem;
}


