.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1800px;
}


.instructions-container {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.instructions {
  display: flex;
  justify-content: space-between;
  width: 900px;
  min-width: 500px;
}

.cell-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cell-info div {
  display: inline-block;
  flex-direction: column;
  gap: 1rem;
}

.generation {
  font-size: large;
  width: 100px;
}

.arrow-button {
  cursor: pointer;
}

.arrow-button:hover {
  color: #d1d5db;
}